body {
  margin: 0;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.log {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.blog-container {
  padding: 10px;
}

.blogTitle {
  margin-bottom: 15px;
}

.menuContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  background-color: #1b4e55;
  padding: 30px;
}

p.menuLink > a {
  color: white;
  text-decoration-line: none;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;
}

.menuLink:hover {
  transform: scale(1.1);
}
.menuLink:active {
  transform: scale(1);
}

.active {
  background-color: red;
  color: #fff;
}

.addNew {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.blogGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.likeContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
