.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.log {
  margin-bottom: 15px;
}

.blog-container {
  border: 1px solid black;
  width: 250px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
}
