.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.log {
  margin-bottom: 15px;
}

.notification,
.warning {
  background-color: rgb(197, 188, 188);
  font-size: 1.5rem;
  width: 20%;
  color: green;
  border: 1px solid green;
  border-radius: 4px;
  margin-bottom: 2%;
}

.warning {
  color: red;
  border-color: red;
}

.blog-container {
  border: 1px solid black;
  width: 250px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
}
